<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<header>

</header>
<section class="container">
    <table class="table table-responsive table-bordered ">
        <tbody>  <!--this body makes two inputbox using form control with out div-->
        <tr>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
          <!--  <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>-->
        </tr>
        </tbody>
    </table>
 <!--   <thead>
    <tr>
        <th class="col-sm-2">Large</th>
        <th class="col-sm-2">Large</th>
        <th class="col-sm-1">Small</th>
        <th class="col-sm-2">Large</th>
        <th class="col-sm-1">Small</th>
        <th class="col-sm-2">Large</th>
        <th class="col-sm-2">Large</th>
    </tr>
    </thead>-->


    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive table-bordered">
            <!--    <thead>
                <tr>
                    <th>Very Small</th>
                    <th>Very Small</th>
                    <th>Very Small</th>
                    <th>Large</th>
                    <th>Small</th>
                    <th>Medium</th>
                </tr>
                </thead>-->
                <tbody>
                <tr>
                    <td class="col-sm-1">
                        <input class="col-sm-12" placeholder="col-sm-1" />
                    </td>
                    <td class="col-sm-1">
                        <input class="col-sm-12" placeholder="col-sm-1" />
                    </td>
                    <td class="col-sm-1">
                        <input class="col-sm-12" placeholder="col-sm-1" />
                    </td>
                    <td class="col-sm-4">
                        <input class="col-sm-12" placeholder="col-sm-4" />
                    </td>
                    <td class="col-sm-2">
                        <input class="col-sm-12" placeholder="col-sm-2" />
                    </td>
                    <td class="col-sm-3">
                        <input class="col-sm-12" placeholder="col-sm-3" />
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-1">
                        <input class="col-sm-12" placeholder="col-sm-1" />
                    </td>
                    <td class="col-sm-1">
                        <input class="col-sm-12" placeholder="col-sm-1" />
                    </td>
                    <td class="col-sm-1">
                        <input class="col-sm-12" placeholder="col-sm-1" />
                    </td>
                    <td class="col-sm-2">
                        <input class="col-sm-12" placeholder="col-sm-4" />
                    </td>
                    <td class="col-sm-2">
                        <input class="col-sm-12" placeholder="col-sm-2" />
                    </td>
                    <td class="col-sm-3">
                        <input class="col-sm-12" placeholder="col-sm-3" />
                    </td>
                    <td class="col-sm-2"  rowspan="2">  <!--this lin rowspan make two row comes together-->
                        <input class="text-center" placeholder="col-sm-4"/>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-1">
                        <input class="col-sm-12" placeholder="col-sm-1" />
                    </td>
                    <td class="col-sm-1">
                        <input class="col-sm-12" placeholder="col-sm-1" />
                    </td>
                    <td class="col-sm-1">
                        <input class="col-sm-12" placeholder="col-sm-1" />
                    </td>
                    <td class="col-sm-2">
                        <input class="col-sm-12" placeholder="col-sm-4" />
                    </td>
                    <td class="col-sm-2">
                        <input class="col-sm-12" placeholder="col-sm-2" />
                    </td>
                    <td class="col-sm-3">
                        <input class="col-sm-12" placeholder="col-sm-3" />
                    </td>
                    <td class="col-sm-2">
                        <input class="col-sm-12"  placeholder="col-sm-4" />
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-responsive table-bordered">
                <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Exercise Code</th>
                    <th>Initiated by</th>
                    <th>Initiated on</th>
                    <th>Done by</th>
                    <th>Q1</th>
                    <th>Q2</th>
                    <th>Q3</th>
                    <th>Q4</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" class="input-mini span1" />
                    </td>
                    <td>
                        <input type="text" class="input-mini span1" />
                    </td>
                    <td>
                        <input type="text" class="input-mini span1" />
                    </td>
                    <td>
                        <input type="text" class="input-mini span1" />

                    </td>
                    <!--<td>
                        <input type="text" class="input-mini span1" />
                    </td>
                    <td>
                        <input type="text" class="input-mini span1" />
                    </td>
                    <td>
                        <input type="text" class="input-mini span1" />
                    </td>
                    <td>
                        <input type="text" class="input-mini span1" />
                    </td>
                    <td>
                        <input type="text" class="input-mini span1" />
                    </td>-->
                    <td>
                        For Action
                        <p>some thing</p>
                    </td>

                    <td>
                        <p>some thing</p>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
</section>
<footer>
 &copy; saima
</footer>
</body>
</html>