<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<header>

</header>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <thead class="btn-primary">
                <tr>
                    <th class="text-center">BUYER</th>
                    <th class="text-center">COLOR</th>
                    <th class="text-center">GSM</th>
                    <th class="text-center">DIA</th>
                    <th class="text-center">ORDER QTY</th>
                    <th class="text-center">PROCESS LOSS</th>
                    <th class="text-center">TARGET QTY</th>
                    <th class="text-center">FABRIC TYPE</th>
                    <th class="text-center">CREATED</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Jhon</td>
                    <td>Blue</td>
                    <td>12</td>
                    <td>2</td>
                    <td>2333</td>
                    <td>0%</td>
                    <td>2333</td>
                    <td>shifon</td>
                    <td>Sun March 28 2015 12 pm</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive table-bordered">

                    <tbody>
                    <tr>
                        <td class="col-md-4">Yearn Details</td>
                        <td class="col-md-6">Yearn Details</td>
                        <td class="col-md-2">Yearn Details</td>









                        <!--      <div class="row">
                                  <div class="col-md-12">
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="form-group">
                                                  <div class="col-md-3">
                                                      <label >Machine</label>
                                                      <input class="form-control" type="text">
                                                  </div>
                                                  <div class="col-md-3">
                                                      <label >No. Of Feeder</label>
                                                      <input class="form-control"  type="text">
                                                  </div>
                                                  <div class="col-md-3">
                                                      <label >No. Of Feeder</label>
                                                      <input class="form-control"  type="text">
                                                  </div>
                                                  <div class="col-md-3">
                                                      <label >No. Of Feeder</label>
                                                      <input class="form-control"  type="text">
                                                  </div>

                                              </div>

                                          </div>
                                      </div>
                                  </div>-->



                    </tr>
                    </tbody>

                    <tbody>
                    <tr>
                        <td class="col-md-4">Jhon</td>
                        <td class="col-md-6">Blue</td>
                        <td class="col-md-2"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</section>

</body>
</html>