<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Add Planning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>
<body>
<header>
    
</header>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <input type="file" class="form-control" id="exampleInputFile">
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="season">Season</label>
                <input type="text" class="form-control" name="" value="">
                </div>
            </div>
            <div class="col-md-9"></div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Buyer</th>
                    <th class="text-center">Reference no</th>
                    <th class="text-center">Job no</th>
                    <th class="text-center">STO no.</th>
                    <th class="text-center">Order Type</th>
                    <th class="text-center">Issue Date</th>
                    <th class="text-center">Delivery Date</th>
                </tr>
                </thead>
                <tbody class="text-center">
                   <tr>
                    <td>
                        <select class="form-control">
                            <option>John Cooper</option>
                        </select>
                    </td>

                    <td><input type="text" class="form-control"></td>

                    <td><input type="text" class="form-control"></td>

                    <td><input type="text" class="form-control"></td>

                    <td>
                        <select class="form-control">
                            <option>Simple</option>
                        </select></td>

                    <td><input type="datetime" class="form-control"></td>

                    <td><input type="datetime" class="form-control"></td>
                </tr>
                </tbody>
            </table>
          </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead  class="btn-primary">
                <tr>
                    <th class="text-center">SECTION</th>
                    <th class="text-center">MATERIAL NO.</th>
                    <th class="text-center">COLOR</th>
                    <th class="text-center">GSM</th>
                    <th class="text-center">DIA</th>
                    <th class="text-center">ORDER QTY(IN KGS) OR COLLAR/CUFF(IN PCS)</th>
                    <th class="text-center">(%)LOSS</th>
                    <th class="text-center">FABRICATION</th>
                    <th class="text-center">FAB-ACRONYM</th>
                </tr>
                </thead>

                <tbody class="text-center">
                <tr>
                    <td>
                        <select class="form-control">
                        <option>Body</option>
                        </select>
                    </td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td> <input type="number" class="form-control"></td>
                    <td>
                        <select class="form-control">
                            <option>0%</option>
                        </select>
                     </td>
                     <td><input type="text" class="form-control"></td>
                     <td><input type="text" class="form-control" class="btn btn-default" disabled="disabled"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <label> Comment</label>
        </div>

        <div class=" col-md-6">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default">Add more row</button>
            <button type="button" class="btn btn-success">Save</button>
        </div>
    </div>

</section>
<footer>

</footer>
</body>
</html>