<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<header>

</header>
<section class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-success">
                <div class="panel-heading">Production Capacity Calculator</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-7">
                               <div class="row">
                                   <div class="col-md-12">
                                       <div class="input-group">
                                       <div class="col-md-4">
                                           <label >Machine</label>
                                           <input type="text">
                                       </div>
                                       <div class="col-md-4">
                                           <label >No. Of Feeder</label>
                                           <input type="text">
                                       </div>
                                       <div class="col-md-4">
                                           <label >RPM</label>
                                           <input type="text">
                                       </div>


                               <!--    <input type="text">

                                  <input type="text">

                                   <input type="text"><br />
                                       <br />

                                   <input type="text">

                                       <input type="text">-->


                                   </div>
                               </div>

                                <!--  <div class="col-md-3">
                                    <input type="text">
                                    </div>
                                <div class="col-md-3">
                                    <input type="text">
                                </div>
                                <div class="col-md-3">
                                    <input type="text">
                                </div>
                                <div class="col-md-3">
                                    <input type="text">
                                  </div>-->

                        </div>
                            <br />


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">


                                        <div class="col-md-4">
                                            <label>Machine Gauge</label>
                                            <input type="text">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Efficiency</label>

                                            <input type="text">
                                        </div>
                                        <div class="col-md-4">

                                        </div>



                                        <!--    <input type="text">

                                           <input type="text">

                                            <input type="text"><br />
                                                <br />

                                            <input type="text">

                                                <input type="text">-->


                                    </div>
                                </div>

                                <!--  <div class="col-md-3">
                                    <input type="text">
                                    </div>
                                <div class="col-md-3">
                                    <input type="text">
                                </div>
                                <div class="col-md-3">
                                    <input type="text">
                                </div>
                                <div class="col-md-3">
                                    <input type="text">
                                  </div>-->





                            </div>


                        </div>

                        <div class="col-md-2">
                            <br />
                            <div class="row">
                                <input type="text" placeholder="calculation Ans"><br />
                                <br />

                                <button type="button" class="btn pull-right">Calculate</button>
                            </div>

                        </div>


                        <div class="col-md-3">
                            <div class="well well-sm">
                              production pae day:
                            </div>
                            <div class="well well-sm">
                                Assigned Machines:
                            </div>
                                </div>

                        </div>

                </div>
            </div>

        </div>
    </div>
</div>

</section>
<footer>

</footer>
</body>
</html>