<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Buyer Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<header>
    
</header>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Reference No.">
                    </div>
                    <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>

</div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <thead class="btn-primary">
                <tr>
                    <th class="text-center">REF NO.</th>
                    <th class="text-center">STO NO.</th>
                    <th class="text-center">MATERIAL NO.</th>
                    <th class="text-center">COLOR</th>
                    <th class="text-center">GSM</th>
                    <th class="text-center">DIA</th>
                    <th class="text-center">ORDER QTY</th>
                    <th class="text-center">%LOSS</th>
                    <th class="text-center">DEFECT</th>
                    <th class="text-center">TARGET QTY</th>
                    <th class="text-center">FABRIC TYPE</th>
                    <th class="text-center">STATUS</th>
                    <th class="text-center">ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                    <td>Red</td>
                    <td>GSM</td>
                    <td>DIA</td>
                    <td>5000</td>
                    <td>10</td>
                    <td>5</td>
                    <td>3200</td>
                    <td>Cotton</td>
                    <td>ready</td>
                    <td>
                        <a class="btn btn-success" href="#">Knitting</a>
                        <a class="btn btn-warning" href="#">View</a>
                        <a class="btn btn-danger" href="#">Edit</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</section>
<footer>

</footer>
</body>
</html>