<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<header>

</header>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Reference No.">
                    </div>
                    <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>


        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <thead class="btn-primary">
                <tr>
                    <th class="text-center">REF NO.</th>
                    <th class="text-center">STO No.</th>
                    <th class="text-center">Material No.</th>
                    <th class="text-center">Color</th>
                    <th class="text-center">GSM</th>
                    <th class="text-center">DIA</th>
                    <th class="text-center">Order QTY</th>
                    <th class="text-center">(%)Loss</th>
                    <th class="text-center">Defect</th>
                    <th class="text-center">TARGET QTY</th>
                    <th class="text-center">FABRIC TYPE</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td>red</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Cotton</td>
                    <td>Ready</td>
                    <td></td>

                    <td>
                        <a class="btn btn-success" href="#">Creat kp</a>
                        <a class="btn btn-warning" href="#">View</a>
                        <a class="btn btn-danger" href="#">Edit</a>
                    </td>
                </tr>
                <tr class="text-center">
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td>123</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Cotton</td>
                    <td>Due</td>
                    <td></td>

                    <td>
                        <a class="btn btn-success" href="#">Add due</a>
                        <a class="btn btn-warning" href="#">View</a>
                        <a class="btn btn-danger" href="#">Edit</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</section>
<footer>

</footer>
</body>
</html>
