<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<header>

</header>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <thead class="btn-primary">
                <tr>
                    <th class="text-center">BUYER</th>
                    <th class="text-center">COLOR</th>
                    <th class="text-center">GSM</th>
                    <th class="text-center">DIA</th>
                    <th class="text-center">ORDER QTY</th>
                    <th class="text-center">PROCESS LOSS</th>
                    <th class="text-center">TARGET QTY</th>
                    <th class="text-center">FABRIC TYPE</th>
                    <th class="text-center">CREATED</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mr Smith</td>
                    <td>Black</td>
                    <td>24</td>
                    <td>24</td>
                    <td>3333</td>
                    <td>0%</td>
                    <td>3333</td>
                    <td>Silk</td>
                    <td>Sun March 15th 2015 01.46</td>
                </tr>
               </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <tbody class="text-center">
                <tr>
                    <td>BUYER</td>
                    <td>Mr Smith</td>
                    <td>REFERENCE NO</td>
                    <td>005</td>
                    <td>ORDER TYPE</td>
                    <td>SIMPLE</td>
                </tr>
                <tr>
                    <td>COLOR</td>
                    <td>BLACK</td>
                    <td>GSM</td>
                    <td>24</td>
                    <td>DIA</td>
                    <td>24</td>
                 </tr>
                 <tr>
                    <td>FABRIC TYPE</td>
                    <td>SILK</td>
                    <td>ORDER QTY</td>
                    <td>24</td>
                    <td>PROCESS LOSS</td>
                    <td>0%</td>
                    </tr>
                    <tr>
                        <td>TARGET QTY</td>
                        <td COLSPAN="5">3333</td>
                    </tr>
                <tr>
                    <td>YARN DETAILS</td>
                    <td COLSPAN="5">23 23 33 23</td>
                </tr>
                <tr>
                    <td>STICTH LENGTHS</td>
                    <td COLSPAN="5">23</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
   <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <thead class="btn-primary">
                   <tr>
                    <th class="text-center">FACTORY NAME</th>
                    <th class="text-center">JOBCARD NO</th>
                    <th class="text-center">M/N-M/DIA</th>
                    <th class="text-center">ASSIGNED QTY</th>
                    <th class="text-center">IS SUBCONTACT?</th>
                   </tr>
                </thead>
                <tbody class="text-center">
                <tr>
                    <td><input type="text"></td>
                    <td>AUTO</td>
                    <td>
                        <select class="form-control">
                            <option>101</option>
                            <option>102</option>
                            <option>103</option>
                        </select>
                    </td>
                    <td>
                       <input type="text">

                        </select>
                    </td>
                    <td><input type="checkbox"> </td>
                </tr>
                </tbody>


            </table>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                 <label> comment</label>
            </div>
            <div class=" col-md-9 pull-right">
              <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default">Add more row</button>
            <button type="button" class="btn btn-success">Save</button>
        </div>
    </div>
</section>
<footer>

</footer>
</body>
</html>
