<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<header>

</header>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <thead class="btn-primary">
                <tr>

                    <th class="text-center">STO No.</th>
                    <th class="text-center">Material NO.</th>
                    <th class="text-center">BUYER</th>
                    <th class="text-center">COLOR</th>
                    <th class="text-center">GSM</th>
                    <th class="text-center">DIA</th>
                    <th class="text-center">ORDER QTY</th>
                    <th class="text-center">PROCESS LOSS</th>
                    <th class="text-center">TARGET QTY</th>
                    <th class="text-center">FABRIC TYPE</th>
                    <th class="text-center">CREATED</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Mr Smith</td>
                    <td>Black</td>
                    <td>24</td>
                    <td>24</td>
                    <td>3333</td>
                    <td>0%</td>
                    <td>3333</td>
                    <td>Silk</td>
                    <td>Sun March 15th 2015 01.46</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <tbody class="text-center">
                <tr>
                    <td>BUYER</td>
                    <td>Mr Smith</td>
                    <td>REFERENCE NO</td>
                    <td>005</td>
                    <td>ORDER TYPE</td>
                    <td>SIMPLE</td>
                </tr>
                <tr>
                    <td>COLOR</td>
                    <td>BLACK</td>
                    <td>GSM</td>
                    <td>24</td>
                    <td>DIA</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>FABRIC TYPE</td>
                    <td>SILK</td>
                    <td>ORDER QTY</td>
                    <td>24</td>
                    <td>PROCESS LOSS</td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td>TARGET QTY</td>
                    <td COLSPAN="5">3333</td>
                </tr>
                <tr>
                    <td>YARN DETAILS</td>
                    <td COLSPAN="5">23 23 33 23</td>
                </tr>
                <tr>
                    <td>STICTH LENGTHS</td>
                    <td COLSPAN="5">23</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h3>JobCards</h3>
                    </div>


                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive table-bordered">
                        <thead class="btn-primary">
                        <tr>
                            <th class="text-center">MACHINE NO.</th>
                            <th class="text-center">FACTORY NAME</th>
                            <th class="text-center">JOBCARD NO</th>
                            <th class="text-center">ASSIGNED QTY</th>
                            <th class="text-center">PRODUCED QTY</th>
                            <th class="text-center">STATUS</th>
                            <th class="text-center">IS SUBCONTRACT</th>
                            <th class="text-center">CREATED</th>
                            <th class="text-center">ACTION</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center">
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="btn btn-success" href="#">View and print</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>



</section>
<footer>

</footer>
</body>
</html>
