<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<header>

</header>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
               <div class="pull-left">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Roll No.">
                    </div>
                    <button type="submit" class="btn btn-default"> search Roll</button>
                </form>

                </div>
                <div class="pull-left">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="STO No.">
                        </div>
                        <button type="submit" class="btn btn-default"> search STO No.</button>
                    </form>

                </div>
                <div class="pull-left">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Material No.">
                        </div>
                        <button type="submit" class="btn btn-default">search Material No.</button>
                    </form>

                </div>

             </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <thead class="btn-primary">
                <tr>
                    <th class="text-center">JOBCARD NO.</th>
                    <th class="text-center">M/N</th>
                    <th class="text-center">BUYER</th>
                    <th class="text-center">REFERENCE NO.</th>
                    <th class="text-center">F/TYPE</th>
                    <th class="text-center">COLOR</th>
                    <th class="text-center">ASSIGNED QTY</th>
                    <th class="text-center">PRODUCED QTY</th>
                    <th class="text-center">STATUS</th>
                    <th class="text-center">ACTION</th>


                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>1</td>
                    <td></td>
                    <td>SMITH</td>
                    <td>Cotton</td>
                    <td>RED</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>busy</td>
                    <td> <a class="btn btn-success" href="#">print</a></td>
                </tr>
                <tr class="text-center">
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> <a class="btn btn-success" href="#">print</a></td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>

</section>
<footer>

</footer>
</body>
</html>
