<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<header>

</header>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="pull-left">
                    <form class="navbar-form navbar-left" role="search">
                      <div class="form-group ">
                        <button type="submit" class="btn btn-default"> Search by date</button>

                        <input type="text" class="form-control" placeholder="From">
                        <input type="text" class="form-control" placeholder="To">
                      </div>

                     </form>
                </div>
            </div>
        </div>
    </div>

  <!--  <div class="row row-centered">
        <div class="col-md-6 col-centered">
            <div class="form-group pull-right">
                <h5>Todays Production:</h5>
            </div>
            </div>

        <div class="col-md-3 col-centered">
            <div class="panel panel-info">&nbsp;Summation of KG</div>
        </div>

    </div>-->
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="col-md-4"><h4>Todays Production:</h4></div>
            <div class="col-md-4 pull-left"><h4><span class="label label-success">Summation of KG </span></h4></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <thead class="btn-primary">
                <tr>
                    <th class="text-center">Shift</th>
                    <th class="text-center">Machine No.</th>
                    <th class="text-center">Dia & Gauge</th>
                    <th class="text-center">Buyer</th>
                    <th class="text-center">Style No.</th>
                    <th class="text-center">STO No.</th>
                    <th class="text-center">Yarn Details</th>
                    <th class="text-center">Lot</th>
                    <th class="text-center">Fabric Type</th>
                    <th class="text-center">Order Qty</th>
                    <th class="text-center">No.of Roll</th>
                    <th class="text-center">KG</th>
                    <th class="text-center">Finished GSM</th>
                    <th class="text-center">Sticth Length</th>
                    <th class="text-center">Status</th>

                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>Shift A</td>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>On the floor</td>

                </tr>
                <tr class="text-center">

                    <td COLSPAN="13"></td>
                </tr>
                <tr class="text-center">
                    <td>Shift B</td>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td>123</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Stored</td>

                </tr>
                <tr class="text-center">

                    <td COLSPAN="13"></td>
                </tr>
                <tr class="text-center">
                    <td>Shift C</td>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>

</section>
<footer>

</footer>
</body>
</html>
