<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table-2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<header>
</header>
<section class="container">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                Production capacity calculator
            </div>
            <div class="panel-body">
                <div class="row col-md-12">

                    <div class="col-md-6">
                         <div class="row">
                             <div class="col-md-2">
                                <label>Machine</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <label>No.of Feeder</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label>RPM</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <label>Machine Gauge</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label>Efficiency%</label>
                                <input type="text" class="form-control">
                            </div>
                         </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-8">
                                <label>  Calculate Result</label>
                                <input type="text" class="form-control">
                            </div><br/>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-success" value="Calculate">Calculate</button>
                            </div> <br/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Production per day:0KG</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">Assigned Machines:1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
</body>
</html>