<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<header>

</header>
<section class="container">

    <div class="container">

        <div class="row">

            <div class="col-md-4"><p>Box 1</p></div>

            <div class="col-md-4"><p>Box 2</p></div>

            <div class="col-md-4"><p>Box 3</p></div>

            <div class="col-md-4"><p>Box 4</p></div>

            <div class="col-md-4"><p>Box 5</p></div>

            <div class="col-md-4"><p>Box 6</p></div>

            <div class="col-md-4"><p>Box 7</p></div>

            <div class="col-md-4"><p>Box 8</p></div>

            <div class="col-md-4"><p>Box 9</p></div>

            <div class="col-md-4"><p>Box 10</p></div>

            <div class="col-md-4"><p>Box 11</p></div>

            <div class="col-md-4"><p>Box 12</p></div>

        </div>


        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-md-4"><p>Box 1</p></div>

                <div class="col-sm-6 col-md-4"><p>Box 2</p></div>

                <div class="col-sm-6 col-md-4"><p>Box 3</p></div>

<!--
                <div class="clearfix visible-md-block"></div>
-->

                <div class="col-sm-6 col-md-4"><p>Box 4</p></div>

                <div class="col-sm-6 col-md-4"><p>Box 5</p></div>

                <div class="col-sm-6 col-md-4"><p>Box 6</p></div>

                <div class="clearfix visible-md-block"></div>

                <div class="col-sm-6 col-md-4"><p>Box 7</p></div>

                <div class="col-sm-6 col-md-4"><p>Box 8</p></div>

                <div class="col-sm-6 col-md-4"><p>Box 9</p></div>

                <div class="clearfix visible-md-block"></div>

                <div class="col-sm-6 col-md-4"><p>Box 10</p></div>

                <div class="col-sm-6 col-md-4"><p>Box 11</p></div>

                <div class="col-sm-6 col-md-4"><p>Box 12</p></div>

            </div>


            <div class="container">

                <div class="row">

                    <div class="col-sm-6 col-md-4"><p>Box 1</p></div>

                    <div class="col-sm-6 col-md-4"><p>Box 2</p></div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-sm-6 col-md-4"><p>Box 3</p></div>

                    <div class="clearfix visible-md-block"></div>

                    <div class="col-sm-6 col-md-4"><p>Box 4</p></div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-sm-6 col-md-4"><p>Box 5</p></div>

                    <div class="col-sm-6 col-md-4"><p>Box 6</p></div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="clearfix visible-md-block"></div>

                    <div class="col-sm-6 col-md-4"><p>Box 7</p></div>

                    <div class="col-sm-6 col-md-4"><p>Box 8</p></div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-sm-6 col-md-4"><p>Box 9</p></div>

                    <div class="clearfix visible-md-block"></div>

                    <div class="col-sm-6 col-md-4"><p>Box 10</p></div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-sm-6 col-md-4"><p>Box 11</p></div>

                    <div class="col-sm-6 col-md-4"><p>Box 12</p></div>

                </div>

            </div>



        </div>



    </div>


</section>
<footer>

</footer>
</body>
</html>


